* {
	margin: 0;
	padding: 0;
}
.main {
	height: 600px;
	width: 600px;
	margin: 0 auto;
}
.main div{
	height: 200px;
	width: 200px;
	float: left;
}
.main div:nth-child(odd) {
	background: #791c16;
}
img {
	height: 100%;
	width: 100%;
}